@import "../../../../assets/variables.scss";

.image-mini {
  width: 48px;
}
.tag {
  margin: 4px;
}
<<<<<<< HEAD
.active {
  outline: 3px solid $light-gray!important;
}
=======
>>>>>>> af8f617 ([SGSA-112] :construction: debut de filtres avec les tags)
